@use "fonts" as *;
@use "breakpoins" as *;
.main {
  padding-top: 50px;
}

.checkoutFinish {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;

  button {
    border: none;
    padding: 5px 15px 5px 15px;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0e68c;
    letter-spacing: 2px;
    @extend .robotoCondensed;
  }
}