@use "fonts" as *;
@use "breakpoins" as *;

.main {
  padding-bottom: 20px;
}

.promo {
  background-color: #2f4f4f;
}

.sliders {
  margin: 0 auto;
  width: 300px;
  min-width: 300px;
  display: grid;

  .arrowLeft, .arrowRight {
    justify-content: center;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    grid-row: 6/7;
  }

  .arrowLeft {
    grid-column: 1;
  }

  .arrowRight {
    grid-column: 11/12;
  }

  .sliderCount {
    grid-row: 11/12;
    padding: 7px 0 7px 0;
    grid-column: 6/7;
    display: flex;

    .sliderOutlinePoint {
      margin-inline: 5px;
      width: 10px;
      height: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 100%;
    }
  }

  .slider {
    grid-column: 1/12;
    grid-row: 1/12;
    display: grid;
    justify-content: stretch;
    height: 100%;

    img {
      grid-column: 1/12;
      grid-row: 1/12;
      width: 100%;
      height: 200px;
    }

    .sliderContent {
      grid-column: 2/6;
      grid-row: 8/9;
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;

      h3 {
        text-align: end;
        @extend .poppins;
      }

      h1 {
        font-size: 2.5rem;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #f0e68c;
      }

      button {
        margin-top: 15px;
        border: none;
        padding: 5px 10px 5px 10px;
        font-size: 1.25rem;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 5px;
        cursor: pointer;
        background-color: #f0e68c;
        @extend .robotoCondensed;
      }

      h1 {
        @extend .robotoCondensed;
      }
    }
  }
}

.trendingProducts {
  padding-top: 50px;

  > .description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

    h2 {
      @extend .poppins;
    }

    p {
      @extend .poppins;
      color: #f0e68c;
      padding-bottom: 5px;
      border-bottom: 2px solid #f0e68c;
    }

    .descriptionTitle {
      display: flex;
      align-items: center;

      .trendingIcon {
        margin-left: 10px;
        font-size: 25px;
      }
    }
  }

  .trendingProductsList {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
}


@include min($bSm) {
  .trendingProducts {
    .trendingProductsList {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .sliders {
    width: 550px;
    padding: 40px 0 30px 0;

    .slider {
      img {
        height: 350px;
      }
    }
  }
}

@include min($bMd) {

  .sliders {
    width: 600px;
    padding: 40px 0 30px 0;

    .slider {
      img {
        height: 400px;
      }
    }
  }
}

@include min($bLg) {
  .trendingProducts {
    .trendingProductsList {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .sliders {
    width: 900px;
    padding: 40px 0 30px 0;

    .slider {
      img {
        height: 500px;
      }
    }
  }
}
@include min($bXl) {
  .trendingProducts {
    .trendingProductsList {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}