@use "fonts" as *;
@use "breakpoins" as *;

.imgContentGrid {
  grid-column: 2/6;
  grid-row: 8/9;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  h3 {
    text-align: end;
    @extend .poppins;
  }

  h1 {
    font-size: 2.5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #f0e68c;
  }

  button {
    margin-top: 15px;
    border: none;
    padding: 5px 10px 5px 10px;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0e68c;
    @extend .robotoCondensed;
  }

  h1 {
    @extend .robotoCondensed;
  }
}

.promo {
  z-index: 1!important;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 500px;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  //background-image: url("../public/slide3.webp");
  //background-size: cover;
  //background-repeat: no-repeat;
  //background-position: center;
}

.promoContentText {
  margin-inline: 20px;
  grid-column: 1/13;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px 20px 20px 20px;
  border-radius: 7px;
}

@keyframes promoContentOpacity {
  0% {
    opacity: 0;
  }
  100% {
   opacity: 1;
  }
}

.promoContent {
  z-index: 997 !important;
  opacity: 1;
  width: 100%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  animation-name: promoContentOpacity;
  animation-duration: 1s;
  animation-iteration-count: 1;

  h4 {
    @extend .poppins;
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    color: #f0e68c;
  }

  p {
    @extend .robotoCondensed;
    font-size: 17px;
    color: #f1f0f0;
  }

  button {
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #f0e68c;
    border: none;
    @extend .robotoCondensed;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    border-radius: 7px;
  }
}

//.sliders {
//  display: flex;
//  justify-content: flex-start;
//  //width: 800px;
//  width: 100%;
//  min-width: 300px;
//  overflow: auto;
//
//
//  .slider {
//    //grid-column: 1/12;
//    //grid-row: 1/12;
//    margin-right: 5px;
//    min-width: 400px;
//    display: grid;
//    justify-content: stretch;
//    height: 100%;
//
//    img {
//      grid-column: 1/12;
//      grid-row: 1/12;
//      min-height: 300px;
//      max-width: 800px;
//      width: 100%;
//      height: 100%;
//    }
//
//    .sliderContent {
//      @extend .imgContentGrid;
//    }
//  }
//
//  .slider:last-child {
//    margin-right: 0;
//  }
//}

.trendingProducts {
  padding-top: 50px;

  > .description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

    h2 {
      @extend .poppins;
    }

    p {
      @extend .poppins;
      color: #bfb456;
      padding-bottom: 5px;
      border-bottom: 2px solid #f0e68c;
    }

    .descriptionTitle {
      display: flex;
      align-items: center;

      .trendingIcon {
        margin-left: 10px;
        font-size: 25px;
      }
    }
  }

  .trendingProductsList {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
}

.collections {
  margin-top: 50px;
  display: grid;
  width: 100%;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  height: 900px;
  gap: 10px;

  > * {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    transition: 100ms;
  }

  img {
    width: 100%;
  }

  .collectionContent {
    z-index: 997 !important;
    @extend .imgContentGrid;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .womenCollection {
    position: relative;
    //background-image: url("../public/womenCollection.webp");
    //background-position: center;
    //background-size: cover;
    grid-column: 1/13;
    grid-row: 1/5;
  }

  .womenCollection:hover {
    transform: scale(1.05);
  }

  .menCollection {
    position: relative;
    //background-image: url("../public/menCollection.webp");
    //background-position: center;
    //background-size: cover;
    grid-column: 1/13;
    grid-row: 5/9;
  }

  .menCollection:hover {
    transform: scale(1.05);
  }

  .genericCollection {
    position: relative;
    //background-image: url("../public/genericCollection.webp");
    //background-position: center;
    //background-size: cover;
    grid-column: 1/13;
    grid-row: 9/13;

  }

  .genericCollection:hover {
    transform: scale(1.05);
  }
}

@include min($bSm) {
  .trendingProducts {
    .trendingProductsList {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .sliders {
    .slider {
      min-width: 600px;
    }
  }
}

@include min($bMd) {
  .promoContent {
    width: 1200px;
    h4{
      font-size: 42px;
    }
    p {
      font-size: 22px;
    }
  }
  .sliders {
    .slider {
      min-width: 500px;
    }
  }
  .collections {
    .genericCollection {
      .collectionBg{
        border-radius: 0 0 20px 0;
      }
      grid-row: 7/13;
      grid-column: 7/13;

      .collectionContent {
        border-radius: 0 0 20px 0;
      }
    }

    .womenCollection {
      .collectionBg{
        border-radius: 20px 0 0 20px;
      }
      grid-row: 1/13;
      grid-column: 1/7;

      .collectionContent {
        border-radius: 0 0 0 20px;
      }
    }

    .menCollection {
      .collectionBg{
        border-radius: 0 20px 0 0;
      }
      grid-row: 1/7;
      grid-column: 7/13;
    }
  }
}

@include min($bLg) {
  .trendingProducts {
    .trendingProductsList {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .sliders {
    .slider {
      min-width: 650px;
    }
  }
}

@include min($bXl) {
  .promoContentText {
    grid-column: 1/8;
    margin-inline: 0;
  }
  .trendingProducts {
    .trendingProductsList {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .sliders {
    padding: 40px 0 40px 0;

    .slider {
      min-width: 750px;
    }
  }
}