@use "fonts" as *;
@use "breakpoins" as *;

.activeMobileMenu {
  display: flex !important;
}

.container {
  width: 100%;
  min-height: 110px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  //border: 1px solid #ccc;
  //border-top: none;
}

.header {
  min-height: 110px;
  width: 100%;
  background-color: #181818;
  //border-bottom: 3px solid black;
}

.topHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  //justify-content: space-between;
  //align-items: center;
  flex-grow: 1;
  color: white;
  padding-inline: 10px;
  background-color: #181818;
  min-height: 60px;
  @extend .poppins
}

.nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;

  ul {
    flex: 75%;
    display: flex;
    align-items: stretch;
    list-style-type: none;
  }

  li {
    display: flex;
    align-items: stretch;
  }

  a {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    color: unset;
    @extend .robotoCondensed;
  }

  a:hover {
    background-color: #181818;
    color: white;
  }

  .search {
    flex: 25%;
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: stretch;
    position: relative;
    margin-bottom: 10px;

    input {
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      margin-right: 1px;
      border: none;
      background-color: #f1f0f0;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      @extend .robotoCondensed;
    }

    button {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 8px;
      border-radius: 10px;
      border: none;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      background-color: #f1f0f0;
      @extend .robotoCondensed;

      .searchIcon {
        font-size: 20px;
      }
    }
  }
}

.startSide {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  .menuIcon {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }

  .menuIcon:hover {
    opacity: 0.5;
  }
}

.endSide {
  .endSideActions {
    display: none;
    padding: 15px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  .logoIcon {
    display: block;
    font-size: 40px;
  }

  h2 {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  h1 {
    //margin-left: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    display: none;
  }
}
//@include min($bLg){
//  .endSide {
//    .endSideActions {
//      .cartDropdown {
//        left: calc(100% - 200px);
//      }
//    }
//  }
//}
@include min($bMd) {
  .topHeader {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .startSide {
    .menuIcon {
      display: none;
    }
  }
  .endSide {
    .endSideActions {
      display: flex;
    }
  }
}

@include min($bSm) {
  .logo {
    h2 {
      display: none;
    }

    h1 {
      display: block;
    }

    .logoIcon {
      display: none;
    }
  }
  .nav {
    flex-direction: row;

    .search {
      padding-left: 0;
      margin-bottom: 0;
    }
  }
}