@use "breakpoins" as *;
@use "fonts" as *;
.search {
  flex: 25%;
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  justify-content: stretch;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;

  input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-right: 1px;
    border: none;
    background-color: #f1f0f0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    @extend .robotoCondensed;
  }

  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    border: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #f1f0f0;
    @extend .robotoCondensed;
  }
}
.searchIcon {
  font-size: 20px;
}
.searchDropdown{
  z-index: 998 !important;
  position: absolute;
  top: 50px;
  left: 5px;
  width: 98%;
  max-height: 0;
  overflow: auto;
  background-color: #181818;
  color: white;
  transition: max-height 0.3s ease-in-out;
  border-radius: 7px;
}
.emptySearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-transform: uppercase;
  @extend .robotoCondensed;
  .emptySearchIcon{
    font-size: 25px;
    color: #f1f0f0;
  }
}
.searchDropdown.active{
  max-height: 500px;
}
.searchDropdownContent{
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.searchDropdownItem {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;

  p {
    font-size: 0.8rem;
  }

  img {
    border-radius: 10px;
  }

  .cartItemContent {
    flex: 1;
    margin-left: 10px;
    @extend .robotoCondensed;

    button {
      margin: 7px 4px 0 0;
      cursor: pointer;
      border: 1px solid #f1f0f0;
      color: #f1f0f0;
      background-color: transparent;
      border-radius: 5px;
      padding: 2px 4px 2px 4px;
      @extend .robotoCondensed;
    }
  }
}
.searchDropdownItem:hover {
  background-color: #f0e68c;
  color: #181818 !important;

  button {
    color: #181818 !important;
    border: 1px solid #181818 !important;
  }
}
@include min($bMd) {
  .search {
    margin-bottom: 0;
    margin-top: 0;
  }
}

@include min($bLg) {
  .search {
    padding-left: 0;
    margin-bottom: 0;
  }
}
