@use "fonts" as *;
@use "breakpoins" as *;

.main {
  padding-top: 50px;
}

.purchases {
  display: block;
}

.purchaseAccordion {
  width: 100%;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  max-height: 100vh;
  cursor: pointer;
  transition: max-height 200ms ease-in-out;
}

.purchaseAccordion.closed {
  max-height: 45px;
}

.purchaseAccordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.purchaseAccordionHeaderLeft {
  h3 {
    @extend .robotoCondensed;
  }
}
.purchaseAccordionBody{
  overflow: auto;
  max-height: 500px;
}
.purchaseAccordionFooter {
  margin-top: 10px;
  @extend .robotoCondensed;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrowUpIcon {
  font-size: 19px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkoutFinish {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;

  button {
    border: none;
    padding: 5px 15px 5px 15px;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0e68c;
    letter-spacing: 2px;
    @extend .robotoCondensed;
  }
}